#root {
  margin: 0 auto;
  text-align: center;
}

/******** Header *********/
.header-container {
  margin: 0 auto;
  width: 100%;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 5px 15px 0px rgba(75, 75, 75, 0.1); 
  box-shadow: 0px 5px 15px 0px rgba(75, 75, 75, 0.1);
  margin-bottom: 50px;
}

.inner-header {
  margin: 0 auto;
  max-width: 75% !important;
}


/******** Header text *********/
.header-text-container {
  margin: 0 auto;
  max-width: 75% !important;
  text-align: center;
}

.header-text-container h1 {
  font-size: 48px;
  font-weight: 600;
  margin-top: 70px;
}

.green-text {
  color: #05986C;
}

.header-text-container p {
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 14px;
}


/******** Job search form  ********/
.form-container {
  margin: 0 auto;
  background-color: white;
  width: 75%;
  padding: 40px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  /*-webkit-box-shadow: 0px 5px 15px 0px rgba(75, 75, 75, 0.1); 
  box-shadow: 0px 5px 15px 0px rgba(75, 75, 75, 0.1);*/
}

form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

form input {
  background-color: transparent;
  color: rgb(24, 24, 24);
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 23%;
  padding-left: 15px !important;
}

form input::placeholder {
  background-color: transparent;
  color: rgb(24, 24, 24);
  font-size: 14px;
}

form input:focus-visible {
  outline: none !important;
}

.ant-select {
  width: 23%;
  text-align: left;
}

.ant-select-selector  {
  background-color: transparent !important;
  border: 1px solid #ADADAD;
  border-radius: 5px;
  color: rgb(24, 24, 24) !important;
  padding: 21px 15px !important;
}

.ant-select-selector:hover {
  border: 1px solid #cccccc !important;
}

/* Remove border and outline when focused or open */
.ant-select-focused .ant-select-selector,
.ant-select-open .ant-select-selector {
  border: 1px solid #cccccc !important;
  border-radius: 5px;
  box-shadow: none !important;
  outline: none !important;
}

/* Change text color when clicked (focused/open) */
.ant-select-focused .ant-select-selection-item,
.ant-select-open .ant-select-selection-item {
  color: rgb(24, 24, 24) !important;
}


/* Select arrow styles */
.ant-select-arrow {
  color: rgb(24, 24, 24) !important;
  padding-top: 14px;
}

.ant-select-arrow svg {
  height: 0.8em;
  width: 0.8em;
}


.search-btn {
  background-color: #05986C;
  color: white;
  border: none;
  padding: 10px 40px;
  width: 23%;
}

.search-btn:hover {
  border: none;
  background-color: #0ead7e;
}



/******** Jobs list ********/
.job-results {
  display: inline-flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 50px;
}

.jobs-list, .job-details {
  width: 45%;
}

.jobs-list {
  background-color: white;
  border-radius: 10px;
  padding: 0;
}

.single-job {
  list-style-type: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F0F0F0;
  padding: 20px 20px 10px 20px;
  cursor: pointer;
}

.jobcontainer-left {
  width: 10%;
}

.jobcontainer-middle {
  width: 70%;
}

.jobcontainer-middle .job-title {
  font-weight: 600;
  font-size: 16px;
  color: #05986C;
}

.jobcontainer-middle .employer-name {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.jobcontainer-middle .job-location {
  font-size: 12px;
  color: #8C8C8C;
  margin-top: -15px;
}

.jobcontainer-right {
  text-align: right;
  right: 0;
}

.jobcontainer-right .employment-type {
  font-weight: 600;
  font-size: 14px;
  color: #05986C;
  padding: 5px 10px;
  background-color: #D5FFDA;
  border-radius: 5px;
}


/******** Job details ********/
.job-details {
  background-color: white;
  border-radius: 10px;
  padding: 0;
}

.job-details li {
  list-style-type: none;
  text-align: left;
  padding: 20px 20px 10px 20px;
}

/* Top section */
.details-top {
  display: flex;
  margin-bottom: 40px;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 30px;
}

.employer-logo {
  margin-right: 20px;
}

.job-details-title {
  color:#05986C;
  font-weight: 600;
  font-size: 20px;
}

.employer-name {
  color: #2B3660;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 30px;
}

.apply-btn {
  padding: 10px 20px;
  background-color: #05986C;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

/* Middle section */
.details-middle {
  margin-bottom: 30px;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 30px;
}

th {
  font-size: 13px;
  color: #2B3660;
  font-weight: 600;
  padding-right: 40px;
}

td {
  font-size: 13px;
  color: #2B3660;
  font-weight: 500;
  padding-right: 40px;
}

/* Bottom section */
.details-bottom {
  margin-bottom: 30px;
  border-bottom: 1px solid #F0F0F0;
  padding-bottom: 30px;
}

.about-job {
  color:#2B3660;
  font-weight: 600;
  font-size: 18px;
}

.job-description {
  color:#2B3660;
  font-size: 14px;
  line-height: 1.7em;
}



/* Active style for clicked job */
.single-job.active {
  background-color: #F1F9F6;
  border-left: 4px solid #b5e2d2;
}